<header id="header" class="header d-flex align-items-center fixed-top">
    <div
        class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a href="{% url 'index' %}" class="logo d-flex align-items-center me-auto me-xl-0">
            <h1 class="sitename">iLanding</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="{% url 'index' %}" class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}">Home</a></li>
                <li><a href="{% url 'about-us' %}" class="nav-link {% if request.resolver_match.url_name == 'about-us' %}active{% endif %}">About</a></li>
                <li><a href="{% url 'features' %}" class="nav-link {% if request.resolver_match.url_name == 'features' %}active{% endif %}">Features</a></li>
                <li><a href="{% url 'student-list' %}" class="nav-link {% if request.resolver_match.url_name == 'student-list' %}active{% endif %}">Students</a></li>
                <!-- <li><a href="{% url 'api:student-list' %}" class="nav-link {% if request.resolver_match.url_name == 'api-student-list' %}active{% endif %}">API Students</a></li> -->
                <li><a href="{% url 'customer' %}" class="nav-link {% if request.resolver_match.url_name == 'customer' %}active{% endif %}">Reviews</a></li>
                <li><a href="{% url 'contact-us' %}" class="nav-link {% if request.resolver_match.url_name == 'contact-us' %}active{% endif %}">Contact</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" href="{% url 'contact-us' %}">Get Started</a>

    </div>
</header>